.jumbotron{
  text-align: center;
}
.col-md-3{
  color: #ffd700;
}
body{
  background-image: url("../images/machine.jpg");
  background-size: contain;
}
.col-md-5{
  color:#ba55d3;
}
#about{
  color: #ff8c00;
}
.posh{
  color: #9acd32;
}
#lts{
  color: #ff6347;
}
#trd{
  color: #cd5c5c;
}
#soo{
  color: #ff7f50;
}
.col-md-4{
  color: #ffa500
}
#trn{
  background-color: rgba(255, 255, 0 ,0.34);
}
